<form class="form-signin">
  <h2>Please sign in</h2>

  <input type="email" id="inputEmail" class="mdl-textfield__input" placeholder="Email address" required autofocus>

  <input type="password" id="inputPassword" class="dl-textfield__input" placeholder="Password" required>
  <div class="checkbox">
    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-2">
  <input type="checkbox" id="checkbox-2" class="mdl-checkbox__input">
  <span class="mdl-checkbox__label">Remember me</span>
</label>

  </div>
  <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">Sign in</button>
</form>